@{
}
<ul class="list-group">
    <li class="list-group-item"><b>First Name</b> : The minimum contains 3 and the maximum contains 30 characters</li>
    <li class="list-group-item"><b>Last Name</b> : The minimum contains 3 and the maximum contains 30 characters</li>
    <li class="list-group-item"><b>Phone Number</b> : Must contain 11 numeric characters and must start with 09</li>
    <li class="list-group-item"><b>Birth Day</b> : If the age of the user is less than 18 years, it is not possible to register</li>
    <li class="list-group-item"><b>Course Code</b> : A three-digit number whose hundreds digit must be a multiple of 2</li>
    <li class="list-group-item"><b>Check Rules</b> : Check the rules to read</li>
</ul>